@tailwind base;
@tailwind components;
@tailwind utilities;

.ImageMobile{
  display :none
}
.ImageNormal{
  display :block
}

@media only screen and (max-width:768px) {
  .ImageMobile{
    display :block
  }
  .ImageNormal{
    display: none;
  }
}